<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Ticket Booking</title>
    <style>
        body {
            background-image: url('{{ url_for('static', filename='images/background.jpg') }}');
            background-size: cover;
        }
        .container {
            text-align: center;
            padding: 250px;
        }
        button {
            margin: 20px;
            padding: 50px;
			background-image: url('{{ url_for('static', filename='images/download.jpg') }}');
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 style="color:red;">Welcome to Our Ticket Booking System</h1>
        <button style="font-size:30px; color:red;" onclick="location.href='book_ticket'"><strong>Book a Ticket</strong></button>
        <button style="font-size:30px; color:red;" onclick="location.href='verify_ticket'"><strong>Verify Ticket</strong></button>
    </div>
</body>
</html>